.sheet{
    padding: 2rem;
    border: 1px solid black;
}

.header{
    display: flex;
    justify-content: space-between;
}

.cv-body{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cv-works{

}
